<a href="https://colab.research.google.com/github/megha-mv/AIRBNB-PROJECT-1-CAPSTON/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dir_path='/content/drive/MyDrive/Colab Notebooks/pandas/dat/'
df_air=pd.read_csv(dir_path+'Copy of Airbnb NYC 2019.csv')
df_air.head(3)
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [42]:
df_air.head(5)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [10]:
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [4]:
#create another dataframe having hosts,areas and their ratings,price,room type and avaialability
columns1=['host_id','host_name','neighbourhood','room_type','price','availability_365']
df_host_info=pd.DataFrame(df_air,columns=columns1)
df_host_info.head()
df_host_info.tail(20)

         host_id      host_name  ... price availability_365
48875  274273284      Anastasia  ...   140              180
48876  177932088         Joseph  ...    60               26
48877   65767720        Melanie  ...    42               16
48878   41326856    Jeerathinan  ...    45              172
48879     540335            Lee  ...   120               22
48880  208514239          Melki  ...   120              365
48881  274298453         Adrien  ...    54               15
48882   66058896          Luisa  ...    40               31
48883  131529729        Kendall  ...    75              364
48884  274307600       Jonathan  ...   190              341
48885  131529729        Kendall  ...    75              353
48886  274311461          Scott  ...   200              176
48887  208514239          Melki  ...   170              365
48888  274321313            Kat  ...   125               31
48889  107716952        Michael  ...    65              163
48890    8232441        Sabrina  ...    70                9
48891    6570630        Marisol  ...    40               36
48892   23492952  Ilgar & Aysel  ...   115               27
48893   30985759            Taz  ...    55                2
48894   68119814     Christophe  ...    90               23

[20 rows x 6 columns]

In [53]:
#check the types of room
a=set(df_host_info.room_type)
print(f'Different types of rooms available \n{a}')

print('\n')

#check the different neighbourhood groups i.e state
n=set(df_air.neighbourhood_group)
print(f'Different neighbourhood groups i.e state \n{n}')

#There are different types of rooms available - 1. Private Room 2. Entire home/apt 3.shared rooms
# group by according to room and location
print('\n')
df_host_info.groupby(['room_type','neighbourhood'])[['']].count()

Different types of rooms available
{'Private room', 'Shared room', 'Entire home/apt'}


Different neighbourhood groups i.e areas
{'Manhattan', 'Brooklyn', 'Queens', 'Staten Island', 'Bronx'}

                               host_id  host_name  price  availability_365
room_type       neighbourhood
Entire home/apt Allerton            16         16     16                16
                Arden Heights        3          3      3                 3
                Arrochar            10         10     10                10
                Arverne             48         48     48                48
                Astoria            381        381    381               381
...                                ...        ...    ...               ...
Shared room     West Village         3          3      3                 3
                Williamsburg        32         32     32                32
                Woodhaven            2          2      2                 2
                Woodlawn             1          1      1                 1
                Woodside             1          1      1                 1

[540 rows x 4 columns]

In [52]:
#group according to different neighbourhood and price
#this gives about different prices on that location
df_host_info.groupby(['neighbourhood','price','room_type'])[['host_id']].count()

#Here in output we can see that for certain price offering how many hosts are present

                                     host_id
neighbourhood price room_type
Allerton      33    Private room           1
              34    Private room           1
              35    Private room           2
              36    Private room           1
              38    Private room           2
...                                      ...
Woodside      300   Entire home/apt        1
              425   Private room           1
              450   Entire home/apt        1
              475   Private room           1
              500   Entire home/apt        1

[13830 rows x 1 columns]

In [62]:
# I can check how many hosts are available in particular neighbourhood

df_host_info.groupby(['neighbourhood']).count()

                 host_id  host_name  room_type  price  availability_365
neighbourhood
Allerton              42         42         42     42                42
Arden Heights          4          4          4      4                 4
Arrochar              21         21         21     21                21
Arverne               77         77         77     77                77
Astoria              900        900        900    900               900
...                  ...        ...        ...    ...               ...
Windsor Terrace      157        157        157    157               157
Woodhaven             88         88         88     88                88
Woodlawn              11         11         11     11                11
Woodrow                1          1          1      1                 1
Woodside             235        235        235    235               235

[221 rows x 5 columns]

In [ ]:
# First i can check how many locations are their in one particular state       ---Challenge

In [8]:
# Need to find how many host does not have any availalibity
#logic if availability_365 =0 then we can say that there is full booking

# Choose entries with availability_365 =0
df_full_hosts = df_host_info[df_host_info['availability_365'] == 0]
  
print(df_full_hosts.head(5))

    host_id  host_name  ... price availability_365
4      7192      Laura  ...    80                0
6      7356      Garon  ...    60                0
8      7490  MaryEllen  ...    79                0
14    11975      Alina  ...   120                0
20    21207      Chaya  ...   299                0

[5 rows x 6 columns]

In [11]:
#Based on this 'df_full_hosts'  we can find the price of these hosts offering at which location and type of room
columns2=['host_name','price','neighbourhood','room_type']
df_full_hosts_prices=pd.DataFrame(df_full_hosts,columns=columns2)
df_full_hosts_prices

           host_name  price       neighbourhood        room_type
4              Laura     80         East Harlem  Entire home/apt
6              Garon     60  Bedford-Stuyvesant     Private room
8          MaryEllen     79     Upper West Side     Private room
14             Alina    120        West Village  Entire home/apt
20             Chaya    299        Williamsburg  Entire home/apt
...              ...    ...                 ...              ...
48550        Tiffany     45           Ridgewood     Private room
48731  Luciana Paula    111          Park Slope  Entire home/apt
48756          David    129         Murray Hill  Entire home/apt
48760        Brandon     46           Sunnyside     Private room
48779         Hollie     50  Bedford-Stuyvesant     Private room

[17533 rows x 4 columns]

In [18]:
# Group these pricing according to the type of rooms and location
df_a=df_full_hosts_prices.groupby(['room_type','neighbourhood'])[['price']]
print(df_a.groups)

{('Entire home/apt', 'Allerton'): [27879], ('Entire home/apt', 'Arverne'): [24417, 31254], ('Entire home/apt', 'Astoria'): [820, 828, 1394, 1657, 1951, 2735, 2784, 3378, 3399, 3488, 3706, 3948, 3959, 4298, 4760, 4812, 5015, 5027, 5641, 5729, 5850, 6178, 6652, 6672, 6737, 6752, 6776, 6796, 7498, 7745, 7904, 8080, 8774, 8822, 9032, 9065, 9328, 9627, 9639, 9739, 9903, 9959, 10408, 10412, 10421, 10701, 10755, 10852, 10972, 11186, 11231, 11319, 11843, 11986, 12015, 12356, 12703, 12781, 12838, 12850, 13040, 13203, 13245, 13289, 13406, 13606, 13616, 14081, 14490, 14647, 14742, 14812, 15155, 15396, 15471, 15626, 15692, 15855, 15879, 16191, 16253, 16459, 16618, 16769, 17016, 17065, 17134, 17214, 17270, 17628, 18858, 18878, 19272, 19344, 19914, 19977, 19986, 20029, 20222, 20353, ...], ('Entire home/apt', 'Bath Beach'): [25264, 36905], ('Entire home/apt', 'Battery Park City'): [3753, 4337, 4363, 4414, 5264, 5444, 5472, 7892, 8535, 10000, 11862, 12029, 12330, 13211, 18964, 23341, 23483, 23926, 26813, 29673, 30524, 36556, 37276, 39394, 40576], ('Entire home/apt', 'Bay Ridge'): [3822, 4881, 5077, 5325, 9700, 10397, 11907, 14601, 19356, 19477, 23697, 24677, 25550, 33190, 39650, 42706], ('Entire home/apt', 'Bay Terrace, Staten Island'): [25146, 42862], ('Entire home/apt', 'Bayside'): [35476], ('Entire home/apt', 'Bedford-Stuyvesant'): [48, 483, 805, 1015, 1112, 1180, 1250, 1303, 1347, 1646, 1672, 1725, 1990, 2202, 2327, 2470, 2682, 2699, 2771, 2774, 2805, 2878, 3039, 3133, 3149, 3172, 3396, 4101, 4231, 4536, 4542, 4712, 4726, 4764, 4869, 5012, 5099, 5132, 5159, 5183, 5215, 5301, 5304, 5321, 5347, 5475, 5483, 5690, 5730, 5749, 5957, 5995, 6029, 6033, 6050, 6266, 6282, 6427, 6491, 6553, 6706, 6715, 6772, 6954, 7043, 7066, 7151, 7282, 7340, 7502, 7643, 7791, 7845, 7862, 7986, 8106, 8129, 8200, 8215, 8324, 8514, 8607, 8652, 8663, 8673, 8693, 8766, 8937, 8970, 9003, 9175, 9255, 9257, 9333, 9358, 9464, 9516, 9626, 9675, 9687, ...], ('Entire home/apt', 'Bellerose'): [11610], ('Entire home/apt', 'Bensonhurst'): [1983, 3717, 3718, 10782, 18638, 36322, 40684], ('Entire home/apt', 'Boerum Hill'): [323, 593, 1367, 1793, 1810, 3968, 4627, 4679, 4730, 4744, 4796, 6137, 6201, 6290, 6465, 6765, 7381, 7418, 7554, 7887, 8220, 9414, 9760, 10082, 10191, 10242, 11374, 12325, 13433, 14691, 16239, 17229, 17249, 17489, 18454, 21575, 24469, 24622, 25229, 25502, 25566, 25722, 28033, 28404, 28588, 30915, 31028, 31121, 31440, 32980, 33680, 33979, 37844, 42732, 45697], ('Entire home/apt', 'Borough Park'): [17004, 19188, 27604, 33747], ('Entire home/apt', 'Brighton Beach'): [11970, 14868, 16334, 16368, 29424, 33758, 34759, 40612, 42220], ('Entire home/apt', 'Bronxdale'): [3439, 13600, 18993, 43168], ('Entire home/apt', 'Brooklyn Heights'): [1272, 1346, 1602, 2119, 3479, 4402, 4638, 6770, 6783, 6854, 7020, 7292, 7673, 8446, 8813, 9178, 11109, 11421, 12640, 12938, 13184, 14216, 14269, 15250, 15868, 16185, 16562, 16583, 16615, 17384, 17717, 17867, 19906, 20933, 21515, 21895, 22013, 22163, 23811, 23858, 24311, 24872, 25653, 25707, 25709, 26969, 28875, 29399, 29693, 30130, 30165, 34229, 34765, 38626, 41018, 41644, 46084], ('Entire home/apt', 'Brownsville'): [27180, 27492], ('Entire home/apt', 'Bushwick'): [495, 991, 1199, 1766, 1826, 1898, 1924, 2079, 2384, 3335, 3468, 3579, 3608, 3610, 3711, 3909, 3920, 4073, 4081, 4475, 4810, 4989, 5056, 5118, 5228, 5432, 5726, 5860, 6070, 6081, 6302, 6486, 6588, 6719, 6775, 6789, 7201, 7297, 7473, 7532, 7844, 7917, 8026, 8527, 8666, 8705, 8810, 8908, 9082, 9437, 9445, 9479, 9519, 9582, 9601, 9995, 10162, 10364, 10521, 10560, 10870, 11025, 11192, 11556, 11709, 11727, 11773, 11774, 11842, 11859, 11872, 11933, 12046, 12150, 12264, 12292, 12296, 12588, 12667, 12735, 12965, 13019, 13502, 13585, 13962, 14110, 14534, 14782, 16056, 16413, 16592, 16594, 16789, 16808, 16830, 17164, 17169, 17341, 17415, 17425, ...], ('Entire home/apt', 'Canarsie'): [18701, 30973], ('Entire home/apt', 'Carroll Gardens'): [467, 473, 811, 1128, 1293, 1792, 1936, 2505, 2629, 3902, 4025, 4198, 4213, 4234, 4288, 4333, 4587, 4653, 5071, 5134, 6366, 6593, 7347, 7906, 8206, 8376, 8725, 8918, 9119, 9379, 9635, 9998, 10094, 10373, 10392, 11884, 11940, 12182, 12208, 12496, 12498, 12505, 12525, 13611, 13768, 14506, 15188, 15384, 16415, 16764, 17184, 17505, 18686, 19170, 20109, 20509, 21044, 21604, 21826, 21858, 22439, 22644, 22732, 23336, 24087, 24738, 25155, 25192, 26428, 27215, 28289, 31122, 32012, 33087, 33233, 35143, 36932, 37034, 37464, 37492, 37496, 37580, 39104, 40147, 42681, 44942], ('Entire home/apt', 'Chelsea'): [189, 410, 425, 501, 515, 531, 700, 732, 1057, 1085, 1129, 1210, 1252, 1281, 1478, 1510, 1567, 1612, 1695, 1808, 2221, 3082, 3096, 3138, 3171, 3263, 3305, 3569, 3638, 3670, 3671, 3714, 3750, 3755, 3829, 4191, 4342, 4370, 4422, 4427, 4502, 4639, 4739, 4750, 4913, 4983, 5231, 5383, 5391, 5504, 5666, 5812, 5862, 6063, 6151, 6447, 6618, 6758, 6832, 6883, 6893, 7114, 7216, 7229, 7326, 7687, 7750, 7784, 7971, 8292, 8332, 8437, 8502, 8503, 8602, 8676, 8727, 8760, 8769, 8779, 8796, 9056, 9058, 9155, 9359, 9485, 9837, 9880, 10114, 10116, 10139, 10169, 10207, 10298, 10300, 10359, 10382, 10404, 10428, 10447, ...], ('Entire home/apt', 'Chinatown'): [630, 659, 787, 2107, 2511, 3485, 4131, 4398, 4645, 5411, 5559, 6117, 6352, 6374, 6818, 7709, 7714, 7735, 8422, 9339, 9459, 9543, 9695, 9785, 11098, 12049, 12250, 12795, 13093, 13118, 13349, 14153, 14218, 14678, 14772, 14775, 15249, 15546, 16098, 17428, 18391, 18456, 18551, 19473, 19494, 20248, 20382, 20451, 20858, 21061, 24178, 24262, 24450, 24588, 25366, 27192, 27859, 28081, 28411, 28540, 28709, 28881, 28931, 29289, 29727, 30026, 30363, 31909, 32035, 36376, 37379, 40312, 41865, 42158, 42354, 45456], ('Entire home/apt', 'City Island'): [2105], ('Entire home/apt', 'Civic Center'): [4831, 6515, 9332, 9566, 10964, 14067, 14271, 19200, 24405, 24895, 28232, 29193, 31996, 32447, 35131, 35627, 38885], ('Entire home/apt', 'Clason Point'): [23519], ('Entire home/apt', 'Clifton'): [4248], ('Entire home/apt', 'Clinton Hill'): [685, 696, 1141, 1219, 1650, 1790, 1807, 2014, 2028, 3230, 3340, 3363, 3490, 3774, 4048, 4609, 4615, 4849, 4872, 4970, 5031, 5121, 5457, 5494, 5519, 5573, 5795, 5814, 6406, 6416, 6610, 6733, 6855, 7230, 7251, 7654, 7662, 8060, 8074, 8179, 8293, 8711, 8902, 8993, 9260, 9686, 9935, 10059, 10103, 10425, 10446, 10512, 10923, 11613, 11771, 11818, 11824, 11837, 11860, 12093, 12126, 12279, 13208, 13333, 13388, 13567, 13700, 14064, 14241, 14554, 15007, 15218, 15230, 15431, 15715, 15948, 16743, 17340, 17390, 17725, 17766, 17832, 18315, 18411, 19482, 20054, 20355, 20904, 21332, 21334, 21814, 22142, 22230, 22303, 22326, 22440, 22619, 22631, 22907, 23148, ...], ('Entire home/apt', 'Cobble Hill'): [142, 2142, 3518, 4249, 4665, 5488, 5664, 7071, 7548, 8174, 9196, 10016, 10048, 11057, 11394, 11402, 11527, 11935, 14864, 17043, 17581, 22612, 22973, 24504, 24603, 26669, 26740, 32827, 37309], ('Entire home/apt', 'College Point'): [29618], ('Entire home/apt', 'Columbia St'): [1467, 5345, 10547, 11405, 13927, 13952, 15116, 25220, 25228, 25330, 29132, 41781], ('Entire home/apt', 'Concourse'): [9830, 11950, 14835, 15809, 16586, 24411], ('Entire home/apt', 'Concourse Village'): [5054, 6414, 16816], ('Entire home/apt', 'Coney Island'): [17982], ('Entire home/apt', 'Corona'): [34038], ('Entire home/apt', 'Crown Heights'): [340, 782, 824, 940, 949, 1099, 1390, 1450, 1463, 1583, 2253, 2437, 2750, 2823, 3146, 3201, 3216, 3339, 3411, 3460, 3474, 3497, 3852, 3859, 3942, 4014, 4074, 4504, 4523, 4785, 4829, 4922, 4943, 5120, 5298, 5336, 5487, 5660, 5798, 5842, 6208, 6241, 6507, 6523, 6535, 6606, 6787, 6816, 6945, 6986, 6988, 7027, 7136, 7150, 7318, 7519, 7685, 7840, 7891, 8346, 8497, 8609, 8820, 8882, 8952, 8991, 9213, 9297, 9397, 9541, 9549, 9636, 9650, 9731, 9809, 9930, 10005, 10081, 10211, 10358, 10393, 10442, 10595, 10639, 10683, 10690, 10715, 10910, 10945, 11081, 11196, 11524, 11549, 11611, 11647, 11792, 11887, 11901, 11978, 12197, ...], ('Entire home/apt', 'Cypress Hills'): [8086, 17091, 25825, 26462], ('Entire home/apt', 'DUMBO'): [2091, 3164, 8356, 8943, 21586, 24620, 27168, 27533, 32435, 43636, 43962], ('Entire home/apt', 'Ditmars Steinway'): [1501, 2799, 4012, 5954, 6212, 8037, 8387, 8564, 8735, 9005, 9063, 9985, 11510, 13219, 14331, 15014, 15889, 15911, 16292, 16387, 16960, 17681, 17751, 17767, 18466, 19434, 21527, 22207, 22803, 24237, 25240, 25356, 31045, 31210, 31321, 31854, 35646, 36097, 39364, 40487, 43501], ('Entire home/apt', 'Dongan Hills'): [8782], ('Entire home/apt', 'Downtown Brooklyn'): [1846, 2656, 4435, 7610, 10589, 12390, 14100, 14299, 16686, 16819, 17435, 19989, 20476, 20998, 22021, 23037, 25557, 26503, 27534, 28475, 30122, 30906, 33443, 36253, 38784, 46117, 48450], ('Entire home/apt', 'Dyker Heights'): [13686, 38286], ('Entire home/apt', 'East Elmhurst'): [25651, 28970, 32531, 34211, 35528, 36690, 37652, 40830], ('Entire home/apt', 'East Flatbush'): [4347, 4717, 5596, 14712, 16652, 16910, 17210, 17559, 17835, 18171, 20325, 21696, 21805, 23955, 27715, 29393, 30754, 31690, 32172, 32687, 33336, 35315, 35662, 36263, 37889, 38005, 38259, 38996, 39192, 40563], ('Entire home/apt', 'East Harlem'): [4, 487, 666, 857, 2361, 2442, 3376, 4129, 4727, 4863, 5371, 5447, 5455, 5977, 6171, 6219, 6308, 6493, 6530, 6701, 6823, 6896, 7034, 7158, 7220, 7293, 7436, 7467, 7707, 7886, 7903, 8052, 8811, 9024, 9067, 9079, 9107, 9129, 9148, 9899, 10047, 10069, 10671, 10880, 11372, 11387, 11452, 11627, 11833, 12164, 12468, 12618, 12843, 12856, 13082, 13578, 13620, 13679, 13732, 13809, 14295, 14324, 14473, 14630, 14936, 15003, 15254, 15979, 16655, 16729, 16857, 17010, 17158, 17224, 17259, 17306, 17313, 17432, 17530, 17996, 18098, 18106, 18181, 18670, 18758, 19095, 19306, 19377, 19547, 19601, 19847, 19924, 20044, 20170, 21042, 21159, 21489, 22696, 22824, 23824, ...], ('Entire home/apt', 'East New York'): [25685, 28405, 30434, 36426], ('Entire home/apt', 'East Village'): [123, 220, 267, 338, 421, 518, 565, 627, 810, 900, 986, 998, 1020, 1052, 1089, 1121, 1124, 1147, 1187, 1200, 1249, 1263, 1277, 1319, 1331, 1408, 1446, 1460, 1554, 1617, 1736, 1800, 1821, 1885, 1927, 2039, 2239, 2248, 2371, 2502, 2550, 2842, 2851, 3044, 3048, 3092, 3099, 3115, 3127, 3251, 3275, 3281, 3306, 3322, 3332, 3379, 3381, 3423, 3507, 3597, 3632, 3642, 3661, 3788, 3826, 4009, 4017, 4451, 4468, 4551, 4622, 4662, 4875, 4915, 5004, 5363, 5367, 5380, 5476, 5479, 5485, 5615, 5682, 5704, 5760, 5762, 5885, 5918, 5945, 5961, 5982, 6025, 6036, 6054, 6130, 6136, 6142, 6187, 6191, 6246, ...], ('Entire home/apt', 'Elmhurst'): [10044, 10849, 14813, 25050, 25491, 26772, 27063, 28088, 28417, 30676, 34867, 38974, 39934, 42705], ('Entire home/apt', 'Far Rockaway'): [13689, 26280, 28160], ('Entire home/apt', 'Fieldston'): [5319], ('Entire home/apt', 'Financial District'): [174, 1043, 2751, 3557, 3611, 3812, 4022, 4801, 5017, 5028, 5395, 5431, 5654, 5764, 6131, 6997, 7051, 7590, 8264, 8366, 8425, 8940, 9184, 9593, 9744, 9791, 9857, 10141, 10391, 10588, 10788, 11138, 11168, 11812, 11857, 12019, 12233, 12272, 12486, 12950, 13085, 13412, 14913, 15201, 16057, 16127, 16146, 16262, 16468, 16571, 16667, 16914, 17253, 17630, 17656, 17992, 18165, 18359, 18514, 18804, 19233, 19775, 21281, 22321, 23069, 23538, 23637, 23937, 25703, 25917, 27205, 27619, 29758, 30514, 32117, 32203, 32290, 33186, 34172, 34253, 34563, 35343, 35787, 36149, 36572, 36617, 37670, 39515, 39663, 39691, 40148, 40784, 43699], ('Entire home/apt', 'Flatbush'): [905, 1653, 3547, 4263, 4369, 4499, 4650, 4716, 4718, 4766, 5029, 5053, 5299, 5422, 5549, 6074, 6800, 7057, 7284, 7520, 7758, 8618, 8720, 8761, 8893, 8961, 9109, 9126, 9586, 9590, 9688, 10173, 11003, 11089, 11851, 11856, 12302, 12610, 12762, 13066, 13246, 13434, 13791, 13938, 14018, 14220, 14420, 14980, 15166, 15480, 15770, 15780, 16053, 16106, 16125, 16155, 16225, 17029, 17113, 17353, 18682, 18958, 19604, 20478, 20837, 20865, 20906, 21128, 21223, 21599, 22747, 23862, 24271, 24890, 25645, 25884, 26920, 26967, 27090, 27277, 27576, 27888, 28083, 28149, 28356, 29293, 29509, 29827, 29860, 30048, 31687, 32617, 32822, 33279, 33630, 33984, 34215, 35194, 36081, 36229, ...], ('Entire home/apt', 'Flatiron District'): [983, 1700, 2896, 3058, 5096, 5272, 5942, 6439, 7732, 9879, 11775, 13128, 13972, 14111, 14726, 15459, 15491, 16558, 16846, 18344, 19583, 21716, 27918, 28800], ('Entire home/apt', 'Flatlands'): [3987, 5937, 8247, 20989, 26646, 28192], ('Entire home/apt', 'Flushing'): [8716, 12732, 14386, 14597, 17436, 19786, 23963, 24636, 24957, 25296, 25672, 34746, 40071, 42934], ('Entire home/apt', 'Fordham'): [17345], ('Entire home/apt', 'Forest Hills'): [4496, 11459, 12359, 12923, 14296, 14770, 17722, 18088, 18093, 21564, 22743, 22933, 23181, 23836, 24158, 25026, 26088, 26935, 30071, 30724, 34996, 39012], ('Entire home/apt', 'Fort Greene'): [558, 705, 760, 1307, 1533, 1579, 2363, 2601, 2746, 2769, 3202, 3260, 3660, 3957, 4092, 4238, 4291, 4301, 4554, 4617, 4637, 5560, 5677, 5716, 5931, 6160, 6390, 6455, 6457, 6819, 6872, 7011, 7273, 7624, 8110, 8113, 8232, 8633, 8657, 8702, 8823, 9066, 9137, 9179, 9237, 9322, 9396, 9545, 10202, 10355, 10548, 10646, 10661, 10850, 11242, 12324, 12404, 12461, 12603, 12611, 12891, 13111, 13806, 13915, 14135, 14577, 15388, 15635, 16137, 16163, 16187, 16212, 16261, 16345, 16589, 16730, 16815, 16983, 17040, 17327, 17393, 17610, 17809, 17863, 19017, 19099, 19227, 19866, 20635, 21021, 23102, 23105, 23588, 23680, 23769, 23793, 24369, 24650, 24757, 24790, ...], ('Entire home/apt', 'Fort Hamilton'): [2640, 9086, 15961, 17083, 27669, 31000, 32227], ('Entire home/apt', 'Fresh Meadows'): [34019], ('Entire home/apt', 'Glendale'): [2491, 19467, 22474, 29801, 31756], ('Entire home/apt', 'Gowanus'): [165, 568, 1857, 3776, 4434, 4842, 5164, 6845, 7810, 7961, 9725, 10424, 11819, 12035, 12364, 13109, 14477, 14749, 15680, 15717, 17226, 18084, 19450, 20289, 20767, 20888, 21912, 22359, 23294, 23434, 23466, 24068, 25593, 26395, 27137, 28489, 29197, 29556, 30068, 30091, 32346, 33710, 34065, 35522, 35899, 36937, 37217, 39140, 39379, 39873, 41700, 41932, 42150], ('Entire home/apt', 'Gramercy'): [649, 888, 973, 1407, 3074, 3524, 3598, 3696, 4039, 4136, 4158, 5290, 5339, 6077, 6106, 6372, 6443, 6602, 6648, 6931, 7306, 8015, 8054, 8223, 8487, 8865, 9713, 9722, 10302, 10554, 10805, 10990, 11245, 11916, 12700, 12814, 13013, 13249, 13458, 14044, 14303, 14354, 14437, 14459, 14762, 14900, 15052, 15189, 15349, 15840, 15936, 16461, 16934, 16991, 17213, 17255, 17274, 17283, 18623, 18715, 19231, 19491, 20332, 22482, 22761, 22796, 24104, 24656, 24899, 24919, 25092, 25110, 25418, 25530, 26741, 26952, 27970, 28240, 28619, 28934, 28971, 29687, 31776, 32640, 32672, 33423, 34318, 34651, 34843, 37713, 38173, 40799, 40930, 44688, 47614], ('Entire home/apt', 'Graniteville'): [35789], ('Entire home/apt', 'Gravesend'): [486, 16400, 44626], ('Entire home/apt', 'Greenpoint'): [450, 784, 954, 1077, 1290, 1291, 1843, 2271, 2449, 2968, 3242, 3254, 3380, 3458, 3674, 3947, 3988, 4174, 4355, 4392, 4489, 4616, 4632, 4687, 4902, 5240, 5433, 5434, 5758, 5852, 5889, 5973, 6248, 6280, 6295, 6296, 6335, 6454, 6477, 6582, 6805, 7033, 7157, 7203, 7321, 7434, 7474, 7487, 7514, 7575, 7783, 7788, 7812, 7821, 7905, 8034, 8175, 8184, 8234, 8304, 8781, 8856, 8932, 8960, 8980, 9033, 9043, 9117, 9200, 9258, 9290, 9399, 9504, 9558, 9685, 9798, 9844, 10073, 10098, 10410, 10772, 10775, 11059, 11174, 11357, 11362, 11392, 11414, 11417, 11478, 11855, 11945, 12054, 12202, 12311, 12355, 12483, 12550, 12621, 12729, ...], ('Entire home/apt', 'Greenwich Village'): [429, 1006, 1183, 1295, 1667, 1756, 2533, 3574, 3727, 3777, 3785, 3864, 3991, 4394, 5125, 5285, 5338, 5398, 5775, 5875, 5891, 6426, 6639, 6730, 6808, 6833, 6856, 7104, 7898, 8236, 8386, 8438, 8548, 8831, 9093, 9261, 9460, 10731, 10793, 10949, 11108, 11296, 11567, 11622, 11821, 11876, 12045, 12223, 12398, 12627, 12857, 12925, 12952, 12963, 13006, 13098, 13117, 13133, 13339, 13506, 13836, 14102, 14452, 14863, 15367, 15560, 16701, 16974, 17063, 17360, 17456, 18420, 18737, 19140, 19794, 20031, 20117, 20641, 20653, 21145, 21152, 21409, 21731, 21927, 22213, 22383, 22746, 22890, 23364, 23777, 23866, 24195, 25561, 25797, 26001, 26132, 26504, 26724, 26979, 27278, ...], ('Entire home/apt', 'Grymes Hill'): [11623], ('Entire home/apt', 'Harlem'): [166, 179, 825, 1094, 1233, 1404, 1588, 1638, 1739, 2089, 2280, 2464, 2958, 3137, 3288, 3352, 3387, 3392, 3422, 3713, 4075, 4199, 4271, 4618, 4635, 4669, 4851, 4878, 4882, 4891, 4981, 4984, 5023, 5043, 5112, 5182, 5283, 5522, 5524, 5597, 5731, 5787, 6038, 6056, 6207, 6344, 6369, 6408, 6424, 6681, 6844, 6847, 6848, 6909, 7103, 7252, 7425, 7426, 7489, 7599, 7710, 7937, 8053, 8093, 8109, 8227, 8333, 8399, 8459, 8510, 8549, 8571, 8586, 8747, 8771, 8989, 9064, 9068, 9206, 9280, 9428, 9506, 9557, 9571, 9764, 9770, 9801, 9855, 9957, 9963, 10014, 10029, 10099, 10257, 10278, 10292, 10460, 10499, 10833, 10841, ...], ('Entire home/apt', 'Hell's Kitchen'): [197, 795, 1119, 1259, 1316, 1405, 1481, 1691, 1803, 1905, 1960, 3191, 3267, 3375, 3405, 3451, 3495, 3514, 3595, 3635, 3752, 3778, 3808, 3810, 3816, 3820, 3865, 3928, 3993, 4083, 4176, 4203, 4254, 4352, 4578, 4774, 4858, 5097, 5149, 5838, 5841, 5922, 6003, 6084, 6209, 6267, 6312, 6370, 6377, 6434, 6473, 6631, 6676, 6700, 6821, 6933, 7004, 7074, 7376, 7416, 7795, 7802, 7934, 7945, 7998, 8000, 8085, 8131, 8674, 8689, 8973, 9047, 10067, 10077, 10311, 10702, 10866, 10921, 10994, 11030, 11056, 11101, 11202, 11207, 11213, 11325, 11363, 11450, 11493, 11750, 11793, 11829, 11847, 11897, 11963, 12020, 12082, 12229, 12322, 12481, ...], ('Entire home/apt', 'Highbridge'): [44499, 45141], ('Entire home/apt', 'Hollis'): [26402], ('Entire home/apt', 'Howard Beach'): [21688], ('Entire home/apt', 'Hunts Point'): [36851], ('Entire home/apt', 'Inwood'): [1934, 2579, 4566, 5755, 7546, 7819, 8039, 8435, 8554, 9384, 9404, 10759, 12130, 12979, 13373, 13882, 14026, 14374, 16005, 16221, 16370, 16380, 17532, 17690, 18608, 18834, 19881, 20630, 20845, 22564, 22786, 22916, 22956, 23367, 23598, 23599, 24115, 24177, 28632, 29111, 29379, 29901, 30635, 31684, 32235, 33638, 34453, 46765], ('Entire home/apt', 'Jackson Heights'): [5440, 5565, 6186, 7399, 7857, 8901, 12631, 13487, 14496, 17702, 28054, 30182], ('Entire home/apt', 'Jamaica'): [18431, 31114, 33820, 35031, 42324, 43227], ('Entire home/apt', 'Kensington'): [1074, 1926, 3906, 4197, 4910, 5128, 8160, 9354, 9362, 10628, 11012, 11895, 12446, 12958, 13134, 13228, 14174, 14921, 16963, 17024, 17314, 18139, 18599, 20065, 20320, 21449, 24246, 24707, 24871, 25200, 27289, 27889, 30042, 30269, 40804], ('Entire home/apt', 'Kew Gardens'): [6346, 12743, 25389, 39138], ('Entire home/apt', 'Kew Gardens Hills'): [16665, 23726, 33182, 40113, 42269], ('Entire home/apt', 'Kingsbridge'): [5780, 25681, 32955], ('Entire home/apt', 'Kips Bay'): [1197, 2917, 2993, 3231, 3413, 3461, 3684, 3687, 3709, 3732, 3746, 3764, 3772, 3782, 3799, 3872, 3978, 4027, 4163, 4736, 4776, 4888, 4937, 5765, 6318, 6478, 6498, 6668, 7155, 7358, 8393, 8888, 8947, 8983, 9131, 9242, 9597, 10280, 10579, 10732, 11146, 11244, 11617, 11766, 11920, 12158, 12196, 12514, 12635, 12671, 12712, 12835, 12910, 13191, 13201, 13395, 13515, 13517, 13647, 13929, 14022, 14233, 14652, 14693, 14920, 15478, 15690, 16109, 16553, 16604, 16620, 16880, 17383, 18237, 18473, 18587, 18596, 19036, 19180, 19185, 19920, 20111, 20660, 20736, 20756, 20999, 22370, 22517, 22569, 23064, 24318, 24679, 25782, 25842, 26079, 27214, 28038, 28278, 28837, 28996, ...], ('Entire home/apt', 'Little Italy'): [241, 734, 3268, 3720, 4593, 6755, 9092, 12386, 13421, 13490, 22312, 22779, 25905, 30783, 31041, 32952, 33476, 34721, 36720, 39142, 41170, 41284, 45603], ('Entire home/apt', 'Long Island City'): [1795, 2561, 3013, 3269, 4149, 4159, 4200, 4344, 5661, 6114, 6235, 6546, 6600, 7132, 8196, 8260, 8538, 9152, 9220, 9244, 9559, 9614, 9662, 9813, 10183, 10395, 10973, 12298, 12363, 12510, 12567, 12670, 13889, 13903, 14217, 14623, 14997, 15327, 15795, 16263, 16768, 17602, 18549, 1879